{% extends 'main/layout.html' %} # наследуемся от layout.html

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="features">
<h2>Авторизация</h2>
<h1>{{title}}</h1>

<form method="post">
    {% csrf_token %}

<div class="form-error">{{ form.non_field_errors }}</div>

<!--Перебираю каждое поле-->
{% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}

<button class="btn btn-outline-primary" type="submit">Авторизация</button>
</form>
{% endblock %}